@import url("https://cdn.jsdelivr.net/npm/pretendard@1.3.9/dist/web/static/pretendard.css");

.pre-t{font-weight: 100;}
.pre-el{font-weight: 200;}
.pre-l{font-weight: 300;}
.pre-r{font-weight: 400;}
.pre-m{font-weight: 500;}
.pre-sb{font-weight: 600;}
.pre-b{font-weight: 700;}
.pre-eb{font-weight: 800;}
.pre-k{font-weight: 900;}