body{
        .main-header{
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 99999;

        &.scrolled {
            background-color: var(--color-bbo-green);
        }

        nav{
            width: 100%;
            height: 80px;
            padding: 0 5%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;

            .main-header-logo{
                width: 200px;
                height: 70px;
                // border: 1px solid white;
            }

            .menu-toggle{
                display: none;
                font-size: 32px;
                cursor: pointer;
            }

            .main-navbar{
                height: 100px;
                font-size: 20px;
                display: flex;
                gap: 80px;
                justify-content: center;
                align-items: center;
            }
        } //nav
    } //main-header
} //body