html, html * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Pretendard, sans-serif;

}

li, ol, ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}